
*.pyc
*.mat
*.nc
*.o
*.hpp
*.pkl
*.samples*
*.npy
*tar
*.tar.gz

build/

*cache*
*egg-info*

set_paths.m
env.sh
make_zenodo.sh

*OUTPUT*
*TMP*
*RUN*
*STATUSES*
*MISC*

experiments/synthetic/analysis/submit_*.sh

analysis/**/nsim/*csv

.ipynb_checkpoints

gp_st*
gp_*
GP_*

*.tar.gz
*.bin
*.errlog
*.outlog
*.queue
*.toolkits
*.err
*.out

scratch/

performance*.csv

experiments/greenland
docs/
